backcall==0.2.0
certifi==2020.6.20
colorama==0.4.3
decorator==4.4.2
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1598883894321/work
ipython-genutils==0.2.0
jedi @ file:///C:/ci/jedi_1596472767194/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233945180/work
olefile==0.46
parso==0.7.0
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow @ file:///C:/ci/pillow_1594298234712/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
python-dateutil==2.8.1
pywin32==227
pyzmq==19.0.2
six==1.15.0
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.50.0
traitlets @ file:///tmp/build/80754af9/traitlets_1600712679583/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
wincertstore==0.2
